<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.PumpkinPicker">

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:icon="@mipmap/ic_fall_festival_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fall_festival_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.PumpkinPicker.HelpActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.example.PumpkinPicker.OptionsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.example.PumpkinPicker.GameActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.example.PumpkinPicker.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.PumpkinPicker.MainActivity"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>